@page
@model RazorBasketballUdemy.Pages.Raptors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Raptor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Raptor.Id" />
            <div class="form-group">
                <label asp-for="Raptor.PlayerNum" class="control-label"></label>
                <input asp-for="Raptor.PlayerNum" class="form-control" />
                <span asp-validation-for="Raptor.PlayerNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raptor.PlayerName" class="control-label"></label>
                <input asp-for="Raptor.PlayerName" class="form-control" />
                <span asp-validation-for="Raptor.PlayerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raptor.PlayerPosition" class="control-label"></label>
                <input asp-for="Raptor.PlayerPosition" class="form-control" />
                <span asp-validation-for="Raptor.PlayerPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raptor.PlayerHeight" class="control-label"></label>
                <input asp-for="Raptor.PlayerHeight" class="form-control" />
                <span asp-validation-for="Raptor.PlayerHeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raptor.PlayerSalary" class="control-label"></label>
                <input asp-for="Raptor.PlayerSalary" class="form-control" />
                <span asp-validation-for="Raptor.PlayerSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
